<html>
    <head>
        <style>
            .a-modal {
                display: none!important;
            }
        </style>
        {% block javascript %}
            <script>
                urls = JSON.parse({{ urls | tojson }})
                window.WSS_URL = urls.WSS_URL;
                window.BASE_URL = urls.BASE_URL;
                window.ROBOT = urls.ROBOT;
                window.AUTHORIZATION = urls.AUTHORIZATION;
                window.REFRESH = urls.REFRESH;
                window.CALIBRATION_1 = urls.CALIBRATION_1;
                window.CALIBRATION_2 = urls.CALIBRATION_2;
            </script>
        {% endblock %}
        <script src="bundle.js"></script>
    </head>
    <body>
        <a-scene id="scene">
            <a-assets>
                <a-asset-item id="arrow-obj" depth="0.1" height="0.1" width="0.1" src="./arrow.obj"></a-asset-item>
            </a-assets>

            <a-entity id="camera3DScene" ></a-entity>
            <a-entity
                id="camera2DScene"
                position="0 3 -3"
                rotation="210 0 180"
            ></a-entity>

            <a-camera id="camera"  wasd-controls="acceleration: 1" position="0 0.7 -0.5"></a-camera>

            <!-- <a-entity text="value: Hello World;" position="0 2 -2" id="log"></a-entity> -->
            <a-gui-flex-container
                flex-direction="column"
                justify-content="center"
                align-items="normal"
                component-padding="0.1"
                opacity="0.7"
                width="3"
                height="4.5"
                panel-color="#072B73"
                panel-rounded="0.2"
                position="-5 2.5 -2"
                rotation="0 90 0"
            >
                <a-gui-label
                    width="2.5" height="0.4"
                    value="Mode:"
                    font-size="0.35"
                    background-color="black"
                    letter-spacing="0"
                    font-color="white"
                    margin="0 0 0.1 0"
                >
                </a-gui-label>
                <a-gui-button
                    id="modeFreeButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="modeFreeButtonAction"
                    value="free"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="modePickupButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="modePickupButtonAction"
                    value="pickup"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="modePickupBoxButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="modePickupBoxButtonAction"
                    value="pickup_box"
                    border-color="green"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="modeShift"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="modeShiftButtonAction"
                    value="shift"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="modeMarkup"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="modeMarkupButtonAction"
                    value="markup"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
            </a-gui-flex-container>
            <a-gui-flex-container
                flex-direction="column"
                justify-content="center"
                align-items="normal"
                component-padding="0.1"
                opacity="0.7"
                width="3"
                height="3.2"
                panel-color="#072B73"
                panel-rounded="0.2"
                position="5 2.5 -2"
                rotation="0 -90 0"
            >
                <a-gui-label
                    width="2.5" height="0.4"
                    value="Camera:"
                    font-size="0.35"
                    background-color="black"
                    letter-spacing="0"
                    font-color="white"
                    margin="0 0 0.1 0"
                >
                </a-gui-label>
                <a-gui-button
                    id="camera1Button"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="camera1ButtonAction"
                    border-color="green"
                    value="camera1"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="camera0Button"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="camera0ButtonAction"
                    value="camera0"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <!-- Эта кнопка ужасный костыль, но она работает -->
                <a-gui-button
                    id="camera0Crutch"
                    width="0"
                    height="0"
                    base-depth="0"
                    depth="0"
                    gap="0"
                    radius="0"
                    onclick="camera0Crutch"
                    value=""
                    font-size="0"
                    margin="0 0 0 0"
                    toggle="false"
                    style="visibility: hidden;"
                >
                </a-gui-button>
            </a-gui-flex-container>
            <a-gui-flex-container
                flex-direction="column"
                justify-content="center"
                align-items="normal"
                component-padding="0.1"
                opacity="0.7"
                width="3"
                height="4.5"
                panel-color="#072B73"
                panel-rounded="0.2"
                position="5 2.5 1.1"
                rotation="0 -90 0"
            >
                <a-gui-label
                    width="2.5" height="0.4"
                    value="Command:"
                    font-size="0.35"
                    background-color="black"
                    letter-spacing="0"
                    font-color="white"
                    margin="0 0 0.1 0"
                >
                </a-gui-label>
                <a-gui-button
                    id="commandGoHomeButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="commandGoHomeButtonAction"
                    value="go home"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="commandAskForIdleButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="commandAskForIdleButtonAction"
                    value="ask for idle"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="commandAskForMlContinualButton"
                    width="2"
                    height="0.9"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="commandAskForMlContinualButtonAction"
                    value="ask for ml continual"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
                <a-gui-button
                    id="commandResetStateButton"
                    width="2"
                    height="0.7"
                    base-depth="0.05"
                    depth="0.2"
                    gap="0.1"
                    radius="0"
                    onclick="commandResetStateButtonAction"
                    value="reset state"
                    font-size="0.35"
                    margin="0 0 0.05 0"
                    toggle="false"
                >
                </a-gui-button>
            </a-gui-flex-container>
            <a-text value="state_machine: " color="blue" position="-0.7 -1.5 -2.7" id="state_machine" rotation="-45 0 0"></a-text>
            <a-text value="arm_state: " color="blue" position="-0.7 -1.5 -3" id="arm_state" rotation="-45 0 0"></a-text>
            <a-text value="gripper: " color="blue" position="-0.7 -1.5 -2.4" id="gripper" rotation="-45 0 0"></a-text>
            <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: [gui-interactable]"></a-entity>
            <a-entity cursor_listener id="leftHand" laser-controls="hand: left" raycaster="objects: [gui-interactable]" oculus-touch-controls="hand: left"></a-entity>
            <a-entity cursor_listener id="rightHand" oculus-touch-controls="hand: right">
                <a-box
                    id="box"
                    depth="0.007"
                    height="0.007"
                    width="0.007"
                    opacity="0"
                    position="0 0 -0.15"
                ></a-box>
                <a-cylinder
                    color="blue"
                    height="0.001"
                    radius="0.003"
                    position="-0.0004 0 -0.145"
                    rotation="-90 0 0"
                ></a-cylinder>
                <a-entity
                    id="arrow"
                    obj-model="obj: #arrow-obj"
                    position="-0.0012 0.009 -0.117"
                    rotation="-90 0 0"
                    scale="0.1 0.15 0.15"
                    material="color: blue"
                ></a-entity>
            </a-entity>
        </a-scene>
    </body>
</html>
