.watchtower-player-button {
    background-color: var(--secondaryLight) !important;
    color: var(--textNegative) !important;
}
.watchtower-player-button:hover {
    background-color: var(--secondaryLight) !important;
    filter: brightness(1.1);
}
