<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block javascript %}
    <script>
        urls = JSON.parse({{ urls | tojson }})
        window.REACT_APP_HTTP_GATE_URL = urls.APP_HTTP_GATE_URL;
        window.REACT_APP_WEB_SOCKET_GATE_URL = urls.APP_WEB_SOCKET_GATE_URL;
        window.SERVER_OFFSET = urls.SERVER_OFFSET;
    </script>
    {% endblock %}

</head>

<body class="app-body">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>