@import '~rsuite/lib/styles/themes/default/index.less';

@lightH: #7da8bd;
@darkH: #2f627d;
@primaryH: #52859e;
@greyH: #f0fbff;
@whiteH: #ffff;

@H050: @primaryH;
@H100: @primaryH;
@H200: @greyH;
@H300: @primaryH;
@H400: @primaryH;
@H500: @whiteH;
@H600: @darkH;
@H700: @primaryH;

@body-bg: #e4e4e4;
@text-color: black;

@table-border-color: @H300;
@table-body-background: @H500;
@table-head-font-color: @H050;
@table-body-hover-background: @H200;

@nav-item-default-hover-bg: @H400;
@nav-item-font-default-color: @whiteH;

@calendar-table-cell-content-hover-bg: @H400;
@calendar-time-dropdown-column-cell-default-color: @whiteH;

@btn-default-bg: @H300;
@btn-default-color: @whiteH;
@btn-default-hover-bg: @lightH;
@btn-default-hover-color: @whiteH;
@btn-default-focus-bg: @primaryH;
@btn-default-focus-color: @whiteH;
@btn-default-disabled-color: @greyH;
@btn-default-disabled-bg: @darkH;
@input-border-focus: @H300;

@breadcrumb-color: @whiteH;
@btn-primary-bg: @H300;

@breadcrumb-active-color: white;
@dropdown-bg: @H500;

@calendar-option-color: @H050;
@calendar-month-dropdown-year-active-color: @H200;
@calendar-table-cell-content-selected-color: @H300;

@table-content-padding-horizontal: 0px;
@table-body-content-padding-vertical: 0px;

@dropdown-item-padding-vertical: 0px;
@dropdown-item-padding-horizontal: 0px;

@dropdown-item-padding-y: @dropdown-item-padding-vertical;
@dropdown-item-padding-x: @dropdown-item-padding-horizontal;

.picker-item-hover() {
    color: @whiteH !important;
    background-color: @primaryH !important;
    filter: brightness(1.1);
}
.picker-item-active() {
    font-weight: bold;
    color: @whiteH !important;
}

.rs-calendar-month-dropdown-year-active {
    color: @darkH !important;
    text-decoration: underline;
}

.rs-picker-menu {
    z-index: 1100 !important;
}

.rs-pagination-btn {
    &&-active span {
        background-color: @primaryH;
        opacity: 0.5;
    }
}
